@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Edu+TAS+Beginner&family=Lato:wght@300&family=League+Spartan:wght@300&family=Metrophobic&family=Playpen+Sans&family=Poppins:wght@100&family=Quicksand:wght@500&family=Rancho&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #FFFFFF !important;
    padding: 20px 30px;
    z-index: 5;
    margin-bottom: 35px;    
}

.nav-items {
    color: black !important;
}

.company-logo{
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    Font:Lato;
    font-Weight:700;
    Size:24px;
    Line-height:28.8px;
    }

a span.ship {
    color: #2C2D5B,
  }

a span.up{
   color: #F67366;

}  

.customBtn{
    color: #2C2D5B;
    border-radius: 12px;
    padding: 20px, 40px, 20px, 40px;
    border: 1px solid;
    height: 57px;
    width: 175px;
}

.customBtn:hover{
    color: rgb(255, 227, 12);
}

.customBtn2{
width: 140px;
height: 57px;
padding: 20px, 40px, 20px, 40px;
border-radius: 12px;
gap: 10px;
background-color: #2C2D5B; 
color: #fafafa;
}

.customBtn2:hover{
    color: rgb(255, 227, 12);
}

.page-section{
    margin-top: 90px;
}

.intro-section {
    height: 313px;
    position: relative;
}

.intro-section-sub{
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.intro-image-section {
    height: 594px;
    top: 186px;
    left: 665px;
}

.lp-form-section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px 0px #97979740;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 2;
    margin:0px 60px 60px 60px;
}

.form-control {
    width: 230px !important;
    height: 79px;
    border: 1px solid #141414;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
    padding: 25px;
}

.form-control i {
    font-size: 24px;
    color: #2C2D5B; 
}

.input-box{
    display: flex;
    position: relative;
    margin-left: 5px;
}

.input-icon{
    position: absolute;
    top:33px;
    left: 10px;
}

.bg-dark {
    background-color: #343a40 !important;
}

.text-light {
    color: #fff !important;
}

.sub-container {
    max-width: 1140px;
    height: 278px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-ellipse {
    width: 983px;
    height:576px;
    background-color: transparent;
    border-radius: 60%;
    position: absolute;
    top: -165px;
    left: -569px;
    bottom: -153px;
    border: 1px solid rgb(188, 189, 237);
    z-index: -1;
}

.intro-section-desc {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.intro-section-heading {
    font-family: Lato;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #141414;
}

.span1{
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: #141414;
}

.span2{
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #F67366;
}

.customBtn3 {
    width: 140px;
    height: 57px;
    padding: 10px 20px;
    border-radius: 12px;
    gap: 10px;
    background-color: #2C2D5B;
    color: #fafafa;
}

.customBtn3:hover {
   color: rgb(255, 227, 12);
}

.playdemo{
    background-color: #fafafa;
    color: rgb(44, 45, 91);
    border-radius: 12px;
    border: 1px solid;
    height: 57px;
    width: 175px;
}

.playdemo:hover{
    color: rgb(255, 227, 12);
}

.customBtn4 {
    width: 250px;
    height: 73px;
    padding: 20px;
    border-radius: 12px;
    gap: 10px;
    background-color: #2C2D5B;
    color: #FFFFFF;
    margin: 5px;
    max-width: 250px;
}

.customBtn4:hover{
    color: rgb(255, 227, 12);
}

.video-icon {
    background-color: #fafafa;
    padding: 8px;
    border-radius: 60%;
    box-shadow: 0px 0px 25px 0px #97979740;
    /* margin-right: 25px; */
}

.video-icon span{
    font-weight: 600;
}

.truck-icon{
    padding: 14px;
    border-radius: 60%;
    position: absolute;
    left: 266px;
    top: -96px;
}

.plane-icon{
    background-color:white;
    padding: 14px;
    border-radius: 60%;
    position: absolute;
    box-shadow: 0px 0px 25px 0px #97979740;
    left: -100px;
    top: 375px;
}

footer{
    background-color:  #2C2D5B;
    color: #FAFAFA;
}

.fh-span1{
    color: #F67366;
}
.fh-span2{
    color: #FFFFFF;
}

.footer-desc{
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}

.footer-sub-section{
    width: 111px;
    height: 98px;
    gap: 10px;
    margin: auto;
    text-align: start;
}

.footer-item a{
font-family: Lato;
font-size: 14px;
font-weight: 500;
line-height: 17px;
text-align: start;
color: #FAFAFA;
display: block;
text-decoration: none;

}

.footer-item2 {
    width: 90px;
}



.footer-item a:hover{
    text-decoration:underline;
    color: rgb(255, 227, 12);
}

.footer-bottom-line{
    border:none ;
    border-bottom: 1px solid #E5E5E5;
}


.demo-video{
    width: 100%;
    min-height:500px;
    width: 100%;
}

/* responsive section */


@media (max-width: 1232px) {
    .lp-form-section{
        width: 90%;
    }
   .form-control{
    width: min-content;
    
   }  
}

@media (max-width: 1200px) {
    /* .lp-form-section{
        width: 100%;
    } */
   .form-control{
    /* width:180px !important; */
    width: 100%;
   }  
   .customBtn4{
   width: 140px;
   }
}

@media (max-width: 1199px) {
    .lp-form-section{
        width: 90%;
    } 
    .form-control{
        width: 100% !important;
    }
    
} 



@media (max-width: 999px) {
    .form-contro{
        width: 143px !important;
        background-color: red;
      }
    .intro-ellipse {
        width: 938px;
        height: 674px;
        background-color: transparent;
        border-radius: 60%;
        position: absolute;
        top: -232px;
        left: -585px;
        bottom: -153px;
        border: 1px solid rgb(188, 189, 237);
        display: flex;
        flex-wrap: wrap;
    }

    .truck-icon{
     left: 238px;
    }
    .plane-icon{
        top: 400px;
        left: -70px;
    }

   
    
}

@media (max-width: 765px) {
    .intro-ellipse {
        width: -webkit-fill-available;
        height: 822px;
        background-color: transparent;
        border-radius: 60%;
        position: absolute;
        top: -418px;
        left: -423px;
        bottom: -153px;
        border: 1px solid rgb(188, 189, 237);
    }
    .truck-icon{
        left:443px;
    }
    .plane-icon{
        left: 5px;
        top: 364px;
    }
    .intro-image-section{
        margin-top: 110px;
        width: auto;
    }

    .lp-form-section{
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
    }

    .img-fluid {
      width: 140%;
      margin-top: 135px;
    }

    .intro-image-section{
        margin-top: 10px;
    }

    .form-control{
        width: 283px !important;
        margin-bottom: 5px;
    }
    .customBtn4{
        width: 283px !important;
    }

}

@media (max-width: 630px) {
  
    .intro-ellipse {
        left: -470px;
        right: 111px;
    }
    .truck-icon{
      left: 335px;
    }
}

@media (max-width: 520px) {
  
    .intro-ellipse {
        left: -235px;
        right: 111px;
    }
    .truck-icon{
      left: 60%;
      
    }
}

@media (max-width: 430px) {
    .truck-icon{
        left:55%;
      }
      .intro-section-sub{
        width: 100%;
      }
}


@media (max-width: 360px) {
    .truck-icon{
      left:193px;
   
    }
}



@media (max-width: 385px) {
    .intro-ellipse{
        left: -176px;
        right: 83px;
        height: 827px;
    }
    .truck-icon{
      left:180px;
   
    }
}

@media (max-width: 348px) {
    .intro-ellipse{
        left: -120px;
        right:62px;
        height: 871px;
    }
    .truck-icon{
      left:180px;
   
    }
    .plane-icon{
        top: 421px;
    }
    .img-fluid {
      margin-top: 170px;
    }
}

@media (max-width: 348px) {
  .intro-ellipse{
    left: -120px;
    right: 62px;
    height: 894px;
    width: 367px;
  }
  .plane-icon{
    top: 434px;
  }
}